body {
    background-color: rgb(105, 153, 255);
 }
 h1{
   font-family:serif;
   color: black;
   text-align: center;
   font-size: 60px;
 }
 b {
 font-family:serif;
 font-size: 30px;
 color:rgb(0, 0, 0);
 text-align: center;
 }
button {
   background-color: rgb(128, 14, 14);
   text-align: center;
   height: 50px;
   border-radius: 20px;
   margin: 0 auto;
   width: 200px;
}
.header {
   background-color: rgb(128, 14, 14);
   position: sticky;
   display: grid;
   grid-template-columns:20% 20% 20% 20%;
   padding-left: 5%;
   padding-right: 5%;
   padding-top: 10px;
   padding-bottom: 10px;
}
.pokemon {

   margin-top: 10px;
   width: 200px;
   height: 150;
   align-self: auto;
}
p {
   font-family:serif;
   font-size: 20px;
   color:rgb(0, 0, 0);
}
.table1,th,td {
   margin-top: 15px;
   border: 2px solid black;
   text-align: center;
   margin-left: 4px;

}

a {
    text-decoration: none;
}