body {
    display: flex;
    flex-direction: column;
    padding: 0;
 }
 h1 {
    font-family:serif;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 60px;
 }
 b {
    font-family:serif;
    font-size: 3vw;
    color:rgb(0, 0, 0);
    text-align: center;
 }
 button {
    background-color:none;
    text-align: center;
    height: 5vw;
    border-radius: 20px;
    margin: 0 auto;
    width: 18%;
    align-self: center;
 }
 .header{
    background-image: url(../images/barra.jpg); /*step out*/
    background-repeat:repeat-x;
    display: flex;
    margin-top: 10px;
    border-radius: 50px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 21vw;
    text-align:center;
 }
 .container{
   align-self: center;
   border-radius: 20px;
   align-items: center;
   display: flex;
   background-color:rgb(255, 255, 163);
   width: 50vw;
   height: 50vh;
 }
 .immagini{
   width: 100%;
   height: 100%;
   align-self: center;
 }
 
 a {
    text-decoration: none;
 }