body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0;
      background: linear-gradient(#97e2ff, #3748ff);
 }
 .simbolo{
   width: 20px;
   margin-left: 1vw;
 }
 h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 60px;
 }
 .tab{
   font-size: 1.5vw;
   padding-right:7vw;
 }
 b {
   align-self: center;
   color: #000;
   font-size:3vw;
 }
 button {
    background-color:none;
    text-align: center;
    height: 5vw;
    border-radius: 20px;
    margin: 0 auto;
    width: 18%;
    align-self: center;
 }
 .header{
   background-image: url(../images/barra.jpg); /*step out*/
   background-repeat: repeat-x;
   display: flex;
   margin-top: 10px;
   border-radius: 50px;
   padding-left: 5%;
   padding-right: 5%;
   padding-top: 15px;
   padding-bottom: 15px;
   height: 19vw;
   text-align:center;
 }
 .container{
   align-self: center;
   border-radius: 20px;
   align-items: center;
   text-align: center;
   display: flex;
   padding:2vw;
   /* max-width: 50vw;
   max-height: 50vw; */
 }
 table {
   border-collapse: collapse;
   width: 100%;
 }
 
 td, th {
   padding: 0px;
   text-align: left;
   border: 1px solid #000000;
   text-align: left;
 }
 .immagini{
   align-self: auto;
   width: 30vw;
   height: 40vw;
   padding-right:3vw;
 }
 a:hover {
   text-decoration: underline black;
 }
 p{
   font-size:30px;
   text-align: center;
 }
 
 a {
    text-decoration: none;
 }
 @media screen and (max-width: 600px) {
   div.container div b{
      font-size: 6vw;
   }
   div.container div p{
      font-size: 6vw;
   }
}
 @media screen and (max-width: 800px) {
   body{
   background: linear-gradient(#ff9696, #ff3e3e);

   }
   div.header {
      background-color: rgb(255, 255, 255);
      flex-direction: column;
      width: 100vw;
      padding-left: 0;
      padding-right: 0;
      margin-right: 0;
   }
   div.header image {
      width: 100vw;
      padding-left: 0;
      padding-right: 0;
      margin-right: 0;
   }
   button {
      margin-top: 2vw;
   }
   .container{
      border-color:rgb(255, 122, 122);
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
      text-align: center;
      border-radius: 20vw;
      /* width: 80%; */
   }
   div.container div p {
      font-size: 2vw;
      margin-top: 0;
   }
   .header{
      background-image: url(../images/barra2.png);
      height: 40vw;
      background-repeat: repeat-y;
   }
   div.container div b{
      font-size: 2vw;
   }
   .tab{
      font-size: 3vw;
   }
}