
body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   display: flex;
   flex-direction: column;
   padding: 0;
   background-image: linear-gradient(top right, #ff0f0f 0%, #AACFEF 100%);
}
h1 {
   color: rgb(0, 0, 0);
   text-align: center;
   font-size: 60px;
}
b {
   font-size: 3vw;
   color:rgb(0, 0, 0);
   text-align: center;
}
button {
   background-color:none;
   text-align: center;
   height: 5vw;
   border-radius: 20px;
   margin: 0 auto;
   width: 18%;
   align-self: center;
}
.header {
   background-image: url(../images/barra.jpg); /*step out*/
   background-repeat: repeat-x;
   display: flex;
   margin-top: 10px;
   border-radius: 50px;
   padding-left: 5%;
   padding-right: 5%;
   padding-top: 15px;
   padding-bottom: 15px;
   height: 19vw;
   text-align:center;
}
.pokemon {
   margin-top: 10px;
   width: 80%;
   height: 80%;
   align-self: auto;
}

p{
   font-size: 20px;
   color:rgb(0, 0, 0);
   text-align: center;
}
a {
   text-decoration: none;
}
a:hover {
  text-decoration: underline black;
}
.container {
   border:3px solid;
   border-radius: 20px;
   display: flex;
   border-color: rgb(122, 188, 255);
   text-align: center;
   align-self: center;
}

/* Desktop */
@media screen and (min-width: 800px) {
   div.container div p {
      font-size: 2vw;
   }
   div.container {
      align-items: center;
   }
}

/* Mobile */
@media screen and (max-width: 800px) {
   div.header {
      background-color: rgb(255, 255, 255);
      flex-direction: column;
      width: 100vw;
      padding-left: 0;
      padding-right: 0;
      margin-right: 0;
      padding-bottom: 40px;
   }
   /* div.header image {
      width: 100vw;
      padding-left: 0;
      padding-right: 0;
      margin-right: 0;
   } */
   button {
      text-align: center;
   }
   .container{
      border-color:rgb(255, 122, 122);
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
      text-align: center;
      border-radius: 20vw;
      width: 80%;
   }
   .pokemon{
      width: 60%;
      padding-left: 0;
      padding-right: 0;
      margin-right: 0;
   }
   div.container div p {
      font-size: 10vw;
      margin-top: 0;
      text-align: center;
      background-repeat: repeat-y;
   }
   .header{
      background-image: url(../images/barra2.png);
      height: 40vw;
   }
}
